<li>
	{{name}}

	<button class="eat-burger" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eaten!{{else}}Eaten It!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
